body {
  background: rgb(56, 122, 56);
}

.post {
  width: 400px;
  border: 1px solid #dbdbdb;
  margin: 20px auto;
  background: white;
}

.post-header {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.post-header .nombre {
  flex-direction: column;
  display: flex;
  margin-left: 10px;
}

.nombre p {
  margin: 0;
}

.puntos {
  margin-left: auto;
}
.fa-html5 {
  font-size: 40px;
}

.post-img img {
  width: 100%;
  display: block;
}

.iconos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.texto {
  padding: 0 10px 10px 10px;
}
